################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SOEN7481.Utility/SOEN7481.Utility/obj
/SOEN7481.Utility/.vs/SOEN7481.Utility/v15
